<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
             point="org.eclipse.ui.preferencePages">
          <page
                category="org.talend.core.prefs"
                class="org.talend.designer.codegen.ui.preference.ComponentsPreferencePage"
                id="org.talend.designer.codegen.components.preference"
                name="%components">
          </page>
          <page
                category="org.talend.designer.codegen.components.preference"
                class="org.talend.core.ui.component.preference.ComponentsFormatPreferencePage"
                id="org.talend.designer.codegen.components.preference.format"
                name="%format">
          </page>
       </extension>
   
       <extension
             point="org.talend.core.runtime.service">
          <Service
                class="org.talend.designer.codegen.ui.service.ComponentsLocalProviderService"
                serviceId="ComponentsLocalProviderService">
          </Service>
       </extension>
       <extension
             point="org.talend.core.runtime.tokenInfo_provider">
          <provider
                collector="org.talend.designer.codegen.ui.token.UserComponentsTokenCollector"
                id="org.talend.designer.codegen.UserComponentsprovider"
                name="UserComponents">
          </provider>
       </extension>

</plugin>
